.header {
  padding: 20px 0;
  z-index: 12;
  background-color: $black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(81, 83, 115, 0.2);

  @include media992 {
    padding: 10px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media768 {
    }
  }

  &__logo {
    img {
      max-width: 247px;
      @include media576 {
        max-width: 247px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    @include media768 {
      position: absolute;
      z-index: 500;
      background: $white;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 340px;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      transform: translateX(calc(100% + 10px));
      transition: .3s;
      padding-left: 30px;
      align-items: start;

      &_active {
        transform: translateX(0);
      }
    }

    li {
      margin: 0 15px;
      list-style: none;

      @include media768 {
        margin: 15px 0;
      }
    }

    a {
      color: $white;
      font-weight: 400;
      text-decoration: none;
      font-size: $fontSizeMedium;
      transition: .3s;
      @include media768{
        color: #9D4DFF;
      }

      &:hover {
        color: #00C7FF;
      }

      &.current {
        //color: $orange;
        font-weight: 400;
      }
    }
  }

  &__button {
    text-decoration: none;
    color: $white;
    cursor: pointer;
    background: $orange;
    border: 1px solid $orange;
    padding: 8px 15px;
    font-weight: $fontWeightMedium;
    border-radius: 5px;
    transition: .3s;
    min-width: 130px;
    text-align: center;

    &:hover {
      background: $white;
      color: $orange;
    }

    @include media768 {
      margin: 0 18px 0 auto;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 20px;
    height: 14px;
    cursor: pointer;
    z-index: 700;

    @include media768 {
      display: block;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 20px;
      height: 3px;
      background-color: $denim;
      transition: .3s;

      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - 7px));
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 7px));
      }
    }

    &_active {
      span {
        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}
