.services {
  margin-top: 0;
  background-color: #1E2A43;
  color: $white;
  padding: 40px 0;

  @include media768 {
    margin: 0;
    padding: 40px 0;
  }

  h2 {
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: #9D4DFF;
    margin: 0 auto;
    text-align: center;

    span {
      color: #00C7FF;
    }

    @include media768 {
      padding: 0 15px 30px 15px;
      font-size: 28px;
      font-weight: 700;
      line-height: 45px;
      text-align: center;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__description {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto 15px auto;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;

    span {
      color: #00C7FF;
    }
    @include media768{
      padding: 0 15px;
    }
  }

  &__left {
    max-width: 622px;
    padding-right: 15px;
    padding-left: 0;
    @include media768 {
      max-width: 100%;
    }
    &-block{
      background-color: rgba(168, 179, 207, 0.22);
      border-radius: 20px;
      padding: 20px 35px;
      margin: 20px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      span {
        color: #00C7FF;
      }
    }


    ul {
      padding-left: 20px;
    }

    .item_inner {
      opacity: 0.9;
    }

    li {
      list-style-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9.18018C7.34721 9.18018 9.25 7.27739 9.25 4.93018C9.25 2.58297 7.34721 0.680176 5 0.680176C2.65279 0.680176 0.75 2.58297 0.75 4.93018C0.75 7.27739 2.65279 9.18018 5 9.18018Z' fill='white'/%3E%3C/svg%3E%0A");
      color: $white;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      margin: 10px 0;
      position: relative;
      padding-left: 18px;

      a {
        color: $white;
        font-weight: $fontWeightBold;
      }

      span {
        color: #00C7FF;
      }
    }
  }

  &__right {
    width: 100%;
    max-width: 305px;
    display: flex;
    align-items: center;

    @include media768 {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }

  .taxdome__button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 0;

  }
}

