.tablewave {
  margin: 85px 0 0 0;
  background-color: #F3F8FD;

  .container{
    @include media768{
      padding: 0;
    }
  }
  &::before {
    height: 140px;
    width: 100%;
    content: "";
    display: block;
    background: url("data:image/svg+xml,%3Csvg width='1366' height='140' viewBox='0 0 1366 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_37176_45173)'%3E%3Crect width='1366' height='140' fill='white'/%3E%3Cmask id='mask0_37176_45173' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1366' height='140'%3E%3Crect width='1366' height='140' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_37176_45173)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2041.64 687.141L2328.79 1158.86C2411.53 1294.78 2418.7 1430.12 2345.17 1565.28C2166.89 1890.23 1985.91 2219.56 1807.63 2544.51C1728.22 2683.25 1611.09 2760.03 1446.98 2764.05C1076.46 2773.19 703.224 2786.71 332.697 2795.84C182.783 2796.7 60.9145 2742.13 -18.1744 2612.21C-221.642 2286.79 -422.136 1948.61 -622.9 1618.81C-705.639 1482.89 -687.128 1345.6 -613.599 1210.44C-440.725 894.265 -259.537 578.507 -93.0169 260.72C-9.89152 106.018 125.081 32.0732 293.582 30.86C651.876 23.6918 1005.78 13.7192 1360.42 0.554458C1536.02 -2.23935 1667.15 63.1296 1753 221.809C1845.47 373.718 1945.51 529.236 2041.64 687.141Z' fill='%23F3F8FD'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_37176_45173'%3E%3Crect width='1366' height='140' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat top left;
    @include media768 {
      height: 38px;
      background: url("data:image/svg+xml,%3Csvg width='375' height='39' viewBox='0 0 375 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41885_17870)'%3E%3Crect width='375' height='38.4334' fill='white'/%3E%3Cmask id='mask0_41885_17870' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1366' height='140'%3E%3Crect width='1366' height='140' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41885_17870)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M560.479 188.637L639.309 318.134C662.023 355.447 663.992 392.603 643.807 429.708C594.865 518.914 545.18 609.323 496.238 698.529C474.438 736.617 442.283 757.695 397.232 758.798C295.513 761.306 193.052 765.018 91.3335 767.526C50.1783 767.761 16.7226 752.781 -4.9892 717.114C-60.8459 627.78 -115.886 534.94 -171.001 444.402C-193.715 407.089 -188.633 369.401 -168.448 332.295C-120.99 245.497 -71.2492 158.814 -25.5352 71.574C-2.71531 29.1045 34.3378 8.80484 80.5956 8.4718C178.956 6.50394 276.11 3.7662 373.468 0.1522C421.674 -0.614795 457.672 17.3306 481.24 60.892C506.626 102.595 534.09 145.288 560.479 188.637Z' fill='%23F3F8FD'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41885_17870'%3E%3Crect width='375' height='38.4334' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat top left;
    }
  }
  &::after {
    height: 140px;
    width: 100%;
    content: "";
    display: block;
    background: url("../images/fn.png") no-repeat top right;
    @include media768 {
      height: 38px;
      background: #1976D3;
    }
  }

  &__inner {
    background: $white;
    box-shadow: 0px 20px 30px rgb(43 43 43 / 10%);
    border-radius: 8px;
    padding: 110px;
    font-weight: $fontWeightRegular;
    font-size: $fontSizeMedium;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: $darkGrey;
    position: relative;
    margin-bottom: -200px;

    @include media768{
      border-radius: 0px;
      margin-bottom: 0;
    }

    a {
      color: #1976D3;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
    }


    @include media768 {
      padding: 30px;
    }

    p {
      @include media768 {
        font-size: $fontSizeMedium;
        line-height: 22px;
        margin: 0;
        padding: 5px 0;
      }
    }

    h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 45px;
      color: $darkGrey;
      margin-bottom: 24px;
      @include media768 {
        font-size: 36px;
        font-weight: 900;
        line-height: 45px;
        text-align: left;
        padding-bottom: 0;
      }
    }
  }
}
