.login-page {
  padding: 120px 0;
  background: #F3F8FD url("data:image/svg+xml,%3Csvg width='328' height='368' viewBox='0 0 328 368' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M366.558 121.362L382.907 164.946C387.618 177.505 386.081 188.825 377.863 198.86C357.984 222.959 337.811 247.38 317.932 271.479C309.171 281.717 298.263 286.23 284.611 283.978C253.786 278.899 222.668 274.14 191.842 269.061C179.415 266.771 170.183 260.332 165.68 248.328C153.957 218.177 142.681 187.015 131.25 156.543C126.539 143.985 130.234 132.909 138.451 122.874C157.745 99.4157 177.721 76.1226 196.514 52.4304C205.833 40.9293 218.174 36.932 232.146 39.4855C261.927 44.5352 291.389 49.2834 320.962 53.7791C335.547 56.3135 345.375 63.7918 349.985 78.2837C355.25 92.3192 361.085 106.773 366.558 121.362Z' fill='%23E8F1FB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M142.001 258.717L150.81 282.201C153.348 288.968 152.52 295.067 148.092 300.474C137.381 313.46 126.511 326.618 115.799 339.604C111.079 345.12 105.202 347.552 97.8455 346.339C81.236 343.602 64.4687 341.038 47.8591 338.301C41.1631 337.067 36.1887 333.597 33.7623 327.129C27.4454 310.883 21.3695 294.092 15.2104 277.673C12.6721 270.906 14.6629 264.938 19.0904 259.531C29.4865 246.891 40.25 234.34 50.3762 221.574C55.3978 215.377 62.0473 213.223 69.5757 214.599C85.6227 217.32 101.497 219.878 117.432 222.301C125.291 223.666 130.587 227.696 133.071 235.505C135.908 243.067 139.052 250.855 142.001 258.717Z' fill='%23E8F1FB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M222.371 308.214L226.541 319.328C227.742 322.53 227.35 325.417 225.254 327.976C220.185 334.122 215.041 340.349 209.971 346.495C207.737 349.105 204.956 350.256 201.475 349.682C193.614 348.387 185.679 347.173 177.818 345.878C174.649 345.294 172.295 343.652 171.146 340.591C168.157 332.902 165.281 324.956 162.366 317.185C161.165 313.983 162.107 311.158 164.203 308.599C169.123 302.617 174.217 296.677 179.009 290.636C181.386 287.703 184.533 286.684 188.096 287.335C195.69 288.622 203.203 289.833 210.744 290.98C214.463 291.626 216.97 293.533 218.145 297.228C219.488 300.808 220.976 304.493 222.371 308.214Z' fill='%23E8F1FB'/%3E%3C/svg%3E%0A") no-repeat 100% 50%;

  .container {
    background: url("data:image/svg+xml,%3Csvg width='300' height='268' viewBox='0 0 300 268' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M266.836 88.3462L278.737 120.073C282.167 129.215 281.047 137.456 275.066 144.76C260.594 162.304 245.91 180.08 231.438 197.624C225.061 205.077 217.121 208.362 207.183 206.723C184.743 203.025 162.091 199.561 139.651 195.863C130.605 194.196 123.885 189.509 120.607 180.771C112.073 158.822 103.864 136.138 95.5432 113.956C92.114 104.814 94.8036 96.7512 100.785 89.4468C114.83 72.37 129.371 55.4137 143.052 38.167C149.836 29.7947 158.82 26.8849 168.99 28.7437C190.67 32.4196 212.116 35.8761 233.644 39.1487C244.261 40.9936 251.416 46.4375 254.772 56.9869C258.604 67.2041 262.852 77.7257 266.836 88.3462Z' fill='%23E8F1FB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M103.37 188.333L109.782 205.429C111.63 210.355 111.027 214.795 107.804 218.731C100.007 228.184 92.094 237.762 84.2964 247.215C80.8602 251.231 76.5817 253.001 71.2268 252.118C59.1359 250.126 46.9301 248.259 34.8391 246.267C29.9647 245.368 26.3436 242.843 24.5773 238.134C19.9789 226.308 15.5559 214.085 11.0724 202.133C9.22465 197.207 10.6739 192.862 13.8969 188.926C21.4648 179.725 29.3 170.588 36.6714 161.295C40.3269 156.784 45.1674 155.216 50.6478 156.218C62.3292 158.199 73.8852 160.061 85.4851 161.824C91.2057 162.819 95.0609 165.752 96.8691 171.436C98.9343 176.941 101.223 182.611 103.37 188.333Z' fill='%23E8F1FB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M161.876 224.364L164.911 232.455C165.785 234.786 165.5 236.888 163.975 238.75C160.284 243.224 156.54 247.757 152.849 252.231C151.223 254.131 149.198 254.969 146.664 254.551C140.942 253.608 135.165 252.725 129.443 251.782C127.136 251.357 125.422 250.162 124.587 247.933C122.41 242.336 120.317 236.552 118.195 230.895C117.321 228.564 118.007 226.508 119.532 224.645C123.114 220.29 126.822 215.966 130.31 211.568C132.04 209.433 134.331 208.691 136.925 209.165C142.453 210.103 147.922 210.984 153.412 211.819C156.119 212.289 157.944 213.677 158.8 216.368C159.777 218.973 160.86 221.656 161.876 224.364Z' fill='%23E8F1FB'/%3E%3C/svg%3E%0A") no-repeat 0% 50%;
    @include media768 {
      padding: 0;
    }
  }

  h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    padding-top: 24px;
    @include media768 {
      font-size: 38px;
      font-weight: 900;
      line-height: 42px;
      letter-spacing: -0.800000011920929px;
      text-align: center;
    }
  }

  .login-register-tabs {
    max-width: 584px;
    margin: 0 auto;
    box-shadow: 0px 20px 30px rgba(43, 43, 43, 0.1);

    input[type="submit"] {
      margin-left: 0;
      margin-top: 24px;
      min-width: 180px;
      height: 40px;
      border-radius: 40px;
      width: 180px;
    }
  }

  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .tabs li {
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    font-weight: $fontWeightMedium;
    text-align: center;
    border-radius: 0;
    padding: 10px 15px;
    border: 1px solid transparent;
    background: transparent;
    color: rgb(41, 41, 41);
    line-height: 1.42857143;
    transition: 0.3s;

    span {
      font-size: 14px;
      font-weight: $fontWeightBold;
      line-height: 20px;
      text-align: center;
      color: rgba(25, 118, 211, 1);
    }
  }

  .tabs li.active {
    background: transparent;
    border: none;
    color: rgb(41, 41, 41);
  }

  .tab-content {
    display: none;
    padding: 24px;
    background-color: $white;

    input {
      padding: 0px 12px;
      height: 40px;
      border: 1px solid #CBD5E1;
      border-radius: 12px;
      margin-top: 8px;
    }

    input[type="checkbox"] {
      width: auto;
      min-height: auto;
      padding: 0;
    }

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #475569;
    }

    span {
      color: #B94A48;
    }
  }

  .tab-content.active {
    display: block;
    border-radius: 8px;
    @include media768 {
      border-radius: 0;
    }
  }

  .register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    input[type="submit"] {
    }

    .flex-input {
      width: calc(50% - 8px);
      @include media768 {
        width: 100%;
      }
    }
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2B2B2B;
    margin-top: 0;
  }

  .disbled {
    display: none;
  }

  .recaptcha {
    width: 100%;
  }
}
