.top {
  background: #3C4862;
  padding: 80px 0 50px 0;
  h1 {
    color: #9D4DFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    padding-right: 120px;
    @include media992{
      padding-right: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media992{
      flex-wrap: wrap;
    }

    &-podiska {
      width: 100%;
      display: block;
      text-align: center;
      border-radius: 16px;
      border: rgba(0, 199, 255, 1) 5px solid;
      max-width: 400px;
      background: rgba(0, 199, 255, 0.39);
      img{
        max-width: 232px;
      }
      @include media992 {
        width: 100%;
      }

      h2.subscribe-form__title {
        font-weight: 700;
        font-size: 25px;
        color: rgba(157, 77, 255, 1);
        margin-bottom: 20px;
        @include media992{
          margin-top: 20px;
        }
      }

      input {
        width: 280px;
        border: 3px solid rgba(168, 179, 207, 1);
        border-radius: 12px;
        background-color: #3C4862;
        color: $white;
        min-height: 53px;
        margin-bottom: 24px;
        padding: 0 8px;
        &::placeholder {
          color: $white;
          font-size: 17px;
          font-weight: 700;

        }
        @include media992 {
          width: 100%;
        }
      }
    }

    &-left {
      max-width: 263px;
      @include media992 {
        max-width: 100%;
      }
    }

    h1 {
      color: #9D4DFF;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.5;
    }

    &-right-text {
      color: $white;
      font-size: 17px;
      line-height: 1.9;
      font-weight: 400;
      max-height: 500px;
      @include media992{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 15px;
      }

      span {

        color: #00C7FF;
      }
    }
  }
}
