// colors
$textDark: #212121;
$textLight: #DEDEDE;
$backgroundLight: #f7fbff;
$border: #4078af;
$orange: #FF8900;
$red: #FF3306;
$yellow: #FFBC00;
$footerColor: #2B2B2B;
$footerBg: #F3F8FD;
$white: #ffffff;
$black: #000000;
$darkGrey: #2B2B2B;
$lightBlue: #66afe9;
$lightGrey: #555555;
$grey: #cccccc;
$denim: #1976d3;
$selago: #F3F8FD;
$congressBlue: #044c94;

// font sizes
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontSizeTitle: 30px;

// font weight
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;
$fontWeightExtrabold: 800;
